@model IEnumerable<App.BespokedBikes.Application.Employees.Queries.GetEmployeesList.EmployeeModel>

@{
    ViewBag.Title = "Salespeople";
}

<h2>Salesperson Staff</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Start Date</th>
            <th>Termination Date</th>
            <th>Manager</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Address</td>
                <td>@employee.Phone</td>
                <td>@employee.StartDate.ToString("d")</td>
                <td>
                    @(employee.TerminationDate != null 
                        ? employee.TerminationDate.Value.ToString("d") 
                        : "")
                </td>
                <td>@employee.Manager</td>
                <td>
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Edit", "Employees", new { id = employee.Id })">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pull-right">
    <a class="btn btn-primary" href="@Url.Action("Create", "Employees")">Create Salesperson</a>
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")" style="margin-left:0.5rem;">Cancel</a>
</div>
