@model IEnumerable<App.BespokedBikes.Application.Products.Queries.GetProductsList.ProductModel>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Style</th>
            <th>Purchase Price</th>
            <th>Sale Price</th>
            <th>Quantity On Hand</th>
            <th>Commission Percentage</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Manufacturer</td>
                <td>@product.Style</td>
                <td>$@product.PurchasePrice</td>
                <td>$@product.SalePrice</td>
                <td>@product.QuantityOnHand</td>
                <td>@product.CommissionPercentage %</td>
                <td>
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Edit", "Products", new { id = product.Id })">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pull-right">
    <a class="btn btn-primary" href="@Url.Action("Create", "Products")">Create Product</a>
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")" style="margin-left:0.5rem;">Cancel</a>
</div>